<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!--Reset CSS-->
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <!--Fonts-->
    <link th:href="@{/css/font-raleway-300-400-600.css}" rel="stylesheet" type="text/css">
    <!--Bootstrap CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <!--jQuery alert confirm-->
    <link th:href="@{/css/jquery-confirm.min.css}" rel="stylesheet" type="text/css">
    <!--App CSS-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>